@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: url('assets/fonts/roboto-regular-webfont.woff2') format('woff2'),
       url('assets/fonts/roboto-regular-webfont.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  src: url('assets/fonts/roboto-thin-webfont.woff2') format('woff2'),
       url('assets/fonts/roboto-thin-webfont.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src: url('assets/fonts/roboto-bold-webfont.woff2') format('woff2'),
       url('assets/fonts/roboto-bold-webfont.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: italic;
  src: url('assets/fonts/roboto-italic-webfont.woff2') format('woff2'),
       url('assets/fonts/roboto-italic-webfont.woff') format('woff');
}

:root {
  --main-font: 'Roboto', 'sans-serif';
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  font-family: var(--main-font);
  margin: 0;
  line-height: 1.4;
}

h1, h2 {
  margin: 0;
}

ul {
  list-style: none;
}

ul, li { 
  margin-left: 0; 
  padding-left: 0; 
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

p {
  font-size: .8rem;
  padding: .625em 0 1.25em;
  line-height: 1.2;
}

.row {
  display: flex;
}

/* navigation */

.nav {
  margin-left: 11px;
  margin-top: 10px;
  display: flex;
  align-items: flex-end;
  gap: 15px;
}

.logo {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  width: 200px;
  height: 45px;
  background: #fff;
  border-radius: 10px;
  font-size: 1.75rem;
  font-weight: 700;
  outline: 2px solid #000;
  transition: 1s box-shadow;
}

.logo:hover {
  box-shadow: 0 5px 35px 0px rgba(0,0,0,.1);
  outline: none;
}

.logo:hover::before, .logo:hover::after {
  display: block;
  content: '';
  position: absolute;
  width: 200px;
  height: 45px;
  background: #000;
  border-radius: 10px;
  z-index: -1;
  animation: 1s clockwise infinite;
}

.logo:hover:after {
  background: #000;
  animation: 2s counterclockwise infinite;
}

@keyframes clockwise {
  0% {
    top: -5px;
    left: 0;
  }
  12% {
    top: -2px;
    left: 2px;
  }
  25% {
    top: 0;
    left: 5px;    
  }
  37% {
    top: 2px;
    left: 2px;
  }
  50% {
    top: 5px;
    left: 0;    
  }
  62% {
    top: 2px;
    left: -2px;
  }
  75% {
    top: 0;
    left: -5px;
  }
  87% {
    top: -2px;
    left: -2px;
  }
  100% {
    top: -5px;
    left: 0;    
  }
}

@keyframes counterclockwise {
  0% {
    top: -5px;
    right: 0;
  }
  12% {
    top: -2px;
    right: 2px;
  }
  25% {
    top: 0;
    right: 5px;    
  }
  37% {
    top: 2px;
    right: 2px;
  }
  50% {
    top: 5px;
    right: 0;    
  }
  62% {
    top: 2px;
    right: -2px;
  }
  75% {
    top: 0;
    right: -5px;
  }
  87% {
    top: -2px;
    right: -2px;
  }
  100% {
    top: -5px;
    right: 0;    
  }
}

.nav__list {
  display: flex;
  gap: 3px;
}

.nav-link {
  font-size: 1rem;
  color: #121212;
  font-weight: 700;
  padding: 2px 5px;
  display: inline-block;
  border-radius: 10px;
  transition: background-color 1s,
  color 1s;
}

.nav-link:hover {
  background-color: #000;
  color: #fff;
}

/* blog cards */
.section__title {
  font-size: 1.3rem;
  font-weight: 700;
  margin: 30px 0 0 17px;
}

.blog {
  width: 300px;
  margin-left: 3px;
  padding: 15px;
  border-radius: 10px;
  transition: box-shadow 1s;
  cursor: pointer;
  flex-shrink: 0;
}
 
.blog:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.row {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
  overflow-x: auto;
  padding: 10px 0;
}

.row::-webkit-scrollbar {
  height: 0;
  width: 0;
  display: none;
}

.row::-webkit-scrollbar-thumb {
  display: none;
}
.row::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}