@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: url('assets/fonts/roboto-regular-webfont.woff2') format('woff2'),
       url('assets/fonts/roboto-regular-webfont.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  src: url('assets/fonts/roboto-thin-webfont.woff2') format('woff2'),
       url('assets/fonts/roboto-thin-webfont.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src: url('assets/fonts/roboto-bold-webfont.woff2') format('woff2'),
       url('assets/fonts/roboto-bold-webfont.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: italic;
  src: url('assets/fonts/roboto-italic-webfont.woff2') format('woff2'),
       url('assets/fonts/roboto-italic-webfont.woff') format('woff');
}

:root {
  --main-font: 'Roboto', 'sans-serif';
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  font-family: var(--main-font);
  margin: 0;
  line-height: 1.4;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 1.2rem;
  font-weight: 700;
  padding: 1.12em 0;
}

p {
  font-size: .8rem;
  padding: 10px 0 20px;
  line-height: 1.2;
}

.container {
  text-align: center;
}

.blog {
  max-width: 290px;
  margin: 0 auto;
  padding: 15px;
  border-radius: 10px;
  transition: box-shadow 1s;
}

.blog:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}