:root {
  --main-font: 'Roboto', sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-family: var(--main-font);
}

img {
  max-width: 100%;
}

h1 {
  font-size: 1rem;
  font-weight: 500;
}
